<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/css/main_page.css">
        <title>Trendy Trends</title>
    </head>
    <body>
        <h1>Next level fashion</h1>
        <p>The trends you'll be ROCKING ;)</p>
        <p> whats the new trend ?! </p>
        <p> Here's your new trends so be in one with the trend </p>
    <div class="container">
      <h1>fashion</h1>
      <br>
      <div  style="text-align:left">search your fashion needs!</div>
        <br>
        <form role="form" action="search">
            <div class="form-group">
                <label for="title">style search</label>
                <input type="text" class="form-control" id="name" placeholder="Type in all or fashion needs" name="search"/>
            </div>
            <button id="search-submit" type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
        </form>
        <br>
    </div>
    </body>
    <script>
    $(document).ready(function(){
    console.log("I was correctly inited");
    $("#search-submit").click(function(event) {

        event.preventDefault();

        var recipeCategory = $("#category").val();
        var recipeName = $("#name").val();
        var recipeUrl = $("#url").val();

        var queryString = "/recipes" + "?name=" + recipeName + "&category=" + recipeCategory + "&url=" + recipeUrl;

        $.getJSON( queryString, function (json) {
            console.log(json);

            var items = [];
            items.push("<ul>");

            $.each( json, function( key, val ) {
                items.push( "<li>" + "Name = " + val.recipe_name + " | " + "Url = " + val.recipe_link + " | " + "Category = " + val.category + "</li>" );
            });
            items.push("</ul>");
            $("#searchResults").html(items);
        });
    });
});
    </script>
</html>
